body{
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.856);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 950px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 2fr  1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
                        "header header"
                        "stories sidebar"
                        "contenido sidebar"
                        "contenido sidebar"
                        "contenido sidebar"
                        "footer footer";
}


/* Barra de navegación */
.contenedor .header{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.856);
    height: 54px;
    grid-column-start: 1 ;
    grid-column-end: -1 ;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    z-index: 10;
}


.navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoInstagram{
    width: 325px;
    min-width: 40px;
}

.logoInstagram img{
    max-width: 104px;
    padding-top: 10px;
}

.buscador input{
    width: 215px;
    height: 20px;
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    outline: 0;
    padding: 3px 0px 3px 0px;
    margin-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 100;
    opacity: 75%;
    text-align: center;
    z-index: 2;
}

.herramientas{
    /* outline: 1px solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 360px;
}

.herramientas a{
    /* outline: 1px solid; */
    margin-left: 10px;
}

.herramientas img{
    max-width: 32px;
    opacity: 90%;
}

.herramientas .perfil{
    max-width: 24px;
    padding-left: 7px;
}

/* Stories */
.contenedor .stories{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ; 
    margin-top: 64px;
    margin-bottom: -18px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    padding: 8px 0;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}

.lateralIzquierdo{margin-left: 12px;}


.stories div {
    /* outline: 1px solid; */
    display: flex;
    align-items: center;
    width: 100px;
    padding: 0 3px;
}

.stories .perfil{
    align-items: center;
    justify-content: center;
    max-width: 65px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%); 
}

.stories .usuario{
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.829);
    letter-spacing: .01em;
}

.stories .usuario h2{
    padding-top: 4px;
}

/* Publicaciones del Inicio  */

.contenedor .contenido1{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}

.headerPost{
    /* outline: 1px solid; */
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dataUsuario{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    width: 150px;
    height: auto;
}

.headerPost .fotoPerfilUsuario{
    max-width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.nombreUsuario, .locacion{
    text-decoration: none;
    display: block;
    padding-top: 4px;
}

.nombreUsuario{
    color: rgba(0, 0, 0, 0.884);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 7px;
    padding-bottom: 3px;
}

.locacion{
    color: rgba(0, 0, 0, 0.678);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-bottom: 3px;
}

.opciones{
    display: flex;
    justify-content: flex-end;
    width: 77%;
}

.opciones .opcionesPublicacion{
    max-width: 25px;
    opacity: 80%;
    padding-right: 10px;
}

.fotoUsuario img{
    max-width: 100%;
}

.likeComentario{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

.likeComentario img{
    max-width: 40px;
}

.cantidadLikes{
    padding: 2px 14px;
}

.cantidadLikes h2{
    color: rgba(0, 0, 0, 0.856);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.cantidadLikes a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.descripcionPublicacion{
    display: flex;
    align-items: center;
    padding: 8px 14px;
}

.descripcionPublicacion a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 15px;
    letter-spacing: 0.01em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.descripcionPublicacion p{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.856);
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.descripcionPublicacion p span{
    cursor: pointer;
    color: #006fb9;
}

.comentariosPublicacion{
    display: flex;
    align-items: center;
    padding: 0px 14px;
    margin-bottom: 5px;
}

.comentariosPublicacion a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 15px;
    letter-spacing: 0.01em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.comentariosPublicacion p{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.856);
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.comentariosPublicacion span{
    cursor: pointer;
    color: #006fb9;
}

.tiempoPost{
    padding: 0px 14px;
    margin-bottom: 12px;
}

.tiempoPost a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #8e8e8e;
}

.cantidadComentarios{
        padding: 0px 14px;
        margin-bottom: 9px
}

.cantidadComentarios a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #8e8e8e;
}

.añadirComentario{height: 55px;}
.añadirComentario input{
    height: 50px;
    width: 97%;
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-right-color: transparent;
    border-left-color: transparent;
    color: #262626;
    border-bottom-color: transparent;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    outline: 0;
    padding-left: 17px;
    opacity: 70%;
}

.contenedor .contenido2{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 4 / 5;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}

.contenedor .contenido3{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 5 / 6;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido4{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 6 / 7;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido5{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 7 / 8;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido6{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 8 / 9;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido7{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 9 / 10;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido8{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 10 / 11;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}


.contenedor .contenido9{
    background: #fff;
    color: rgba(0, 0, 0, 0.856);
    grid-column-start: 1 ;
    grid-column-end: 1 ;  
    grid-row: 11 / 12;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 3px;
}




/* Sugerencias de perfiles y Terminos de Instagram  */
.contenedor .sidebarSugerencias{
    background: #fafafa;
    color: rgba(0, 0, 0, 0.856);
    grid-column: 2 / 2;
    grid-row: 1/ 7;

    display: flex;
    justify-content: center;
    margin-top: 62px;
    }

.sidebarSugerencias .sugerencias{
    width: 300px;
    position: fixed;
    margin-left: 6px;
}

.fotoPerfilSugerencias{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.fotoPerfilSugerencias .arrobaUsuario{
    width: 50%;
    padding-top: 5px;
}

.fotoPerfilSugerencias a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

.fotoPerfilSugerencias .name{
    color: rgba(0, 0, 0, 0.500);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    padding-left: 14px;
    padding-top: 5px;
}

.fotoPerfilSugerencias img{
    max-width: 60px;
    margin-top: 12px;
    border-radius: 50%;
    border: 1px solid #c7c7c767;
}

.sugerenciasParaTi{
    /* outline: 1px solid; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
}

.sugerenciasParaTi h2{
    color: rgba(0, 0, 0, 0.507);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.sugerenciasParaTi a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.sugerenciasDePerfiles{
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0px;
}

.sugerenciasDePerfiles img{
    border-radius: 50%;
}

.infoPerfil{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
}

.infoPerfil .nombreSugerencia{
    display: flex;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoPerfil .nombreSugerencia img{
    padding-left: 4px;
    max-width: 16px
}

.infoPerfil .seguir{
    text-decoration: none;
    color: #0095f6;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-top: 7px;
    right: 0;
}

.infoPerfil p{
    width: 70%;
    color: rgba(0, 0, 0, 0.500);
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4px;
}

.sugerenciasDePerfiles img{max-width: 35px;}

.terminosDeInstagram{
    margin-top: 27px;
    margin-bottom: 20px;

}

.terminosDeInstagram a{
    text-decoration: none;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c7c7c7;
    font-weight: 400;
    line-height: 17px;
}

.terminos::after{
    content: '\00B7';
    margin-left: 4px;
}

.footerInstagram h2{
    text-transform: uppercase;
    color: #c7c7c7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}


/* Media queris */

@media screen and (max-width: 320px){
    header .navegacion .buscador{display: none;}
    header .navegacion .herramientas{display: none;}
    header .navegacion .logoInstagram{width: auto;}

    .contenedor .sidebarSugerencias{display: none;}
    .contenedor .sugerencias{display: none;}
    .contenedor .stories{
        grid-column-start: 1 ;
        grid-column-end: 4 ; 
        grid-row-start: 2;
        grid-row-end: 1;
    }
    .contenedor .contenido1{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido2{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido3{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido4{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido5{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido6{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido7{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido8{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido9{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .añadirComentario input {width: 93%;}
}


@media screen and (max-width: 1000px){
    header .navegacion .buscador{display: none;}
    header .navegacion .herramientas{display: none;}
    header .navegacion .logoInstagram{width: auto;}
    
    .contenedor .sidebarSugerencias{display: none;}
    .contenedor .sugerencias{display: none;}
    .contenedor .stories{
        grid-column-start: 1 ;
        grid-column-end: 4 ; 
        grid-row-start: 2;
        grid-row-end: 1;
    }
    .contenedor .contenido1{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido2{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido3{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido4{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido5{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido6{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido7{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido8{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .contenedor .contenido9{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 12px;
    }
    .añadirComentario input {width: 92%;}
}

